<!doctype html>

<head>
  <meta charset="utf-8">
  <title>Streikt die Bahn?</title>
  <meta name="description" content="Streikt die Bahn?">
  <meta name="author" content="Edward Dale, scompt@scompt.com">

  <link rel="stylesheet" href="static/style.css?v=2" />
</head>

<body>

  <div id="container">
    <header>
        <h1>Streikt die Bahn?</h1>
    </header>
    
    <div id="main">
        <h2>States</h2>
        <ul>
            {% for state in states %}
                 <li><abbr title={{state.name}}>{{state.abbreviation}}</abbr> - 
                     {% if not state.striking %}Not{% endif %} Striking
                     <form method="post" action="/manager">
                         <input type="submit" name="managerAction" value="toggle" />
                         <input type="submit" name="managerAction" value="delete" />
                         <input type="hidden" name="abbreviation" value="{{state.abbreviation}}" />
                     </form></a>
                 </li>
            {% endfor %}
        </ul>

        <form method="post" action="/manager">
            <span>Name: </span><input type="text" name="stateName" /><br />
            <span>Abbreviation: </span><input type="text" name="abbreviation" maxlength="2" /><br />
            <span>Striking: </span><input type="checkbox" name="striking" /><br />
            <input name="managerAction" value="add" type="submit" />
        </form>

    </div>

    <footer id="links">
    </footer>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="static/js/jquery-1.4.2.js"%3E%3C/script%3E'))</script>

<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>

  <script>
   var _gaq = [['_setAccount', 'UA-160689-9'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
</body>
</html>